.multiple-todo-list-item {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 12px;
  margin-bottom: 8px;

  border: 1px solid #ccc;
  border-radius: 6px;
}

.multiple-todo-list-item .selected {
    font-weight: 600;
}